@font-face {
  font-family: "opensans";
  src:
    url(../fonts/opensans-regular-webfont.woff) format("woff"),
    url(../fonts/opensans-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "archivoblack";
  src:
    url(../fonts/archivoblack.woff) format("woff"),
    url(../fonts/archivoblack.woff2) format("woff2");
}
/* ===========================
   RESET & BASE
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  max-width: 1440px;
}

body {
  background-color: black;
  color: white;
  font-family: "opensans", Helvetica, sans-serif;
}

/* ===========================
   HEADER
=========================== */
h2 {
  font-family: "archivoblack", Arial, sans-serif;
  font-size: 40px;
  margin-top: 100px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 40px;
  padding-right: 120px;
  padding-bottom: 0px;
  padding-left: 120px;
}

.header::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: #6d6dff;
  border-radius: 50%;
  filter: blur(150px);
  top: 40%;
  right: 10%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.profile {
  width: 793px;
}

.header-title {
  font-family: "archivoblack", Arial, sans-serif;
  font-size: 72px;
  margin-top: 39px;
}

.header-subtitle {
  font-family: "opensans", Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 15px;
}

.bio {
  font-family: "opensans", Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 30px;
}

/* ===========================
   NAV
=========================== */

.nav {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  transition: opacity 0.3s ease;
}

.nav a {
  font-family: "opensans", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding-bottom: 6px;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
  background-size: 100% 5px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.nav :hover {
  opacity: 0.5;
}

.profile-picture {
  margin-left: 20px;
  width: 387px;
  height: 500px;
  /*flex-shrink: 0; evita que flex reduzca la imagen */
  object-fit: cover;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

/* ===========================
   SKILLS
=========================== */
.skills {
  padding: 0 120px;
}

.content__tools {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 50px;
}

.img_a {
  width: 50px;
  height: 57px;
}

.img_b {
  width: 50px;
  height: 50px;
}

/* ===========================
   PROJECTS
=========================== */
.projects {
  padding: 0 120px;
}

.content_projects {
  display: flex;
  gap: 20px; /* sepracion entre columnas*/
  margin: 0 auto; /* centrar columnas */
  flex-wrap: wrap; /* permite que los elementos pasen a la siguiente fila cuando no hay espacio */
}

.content__project {
  display: flex;
  flex-direction: column;
  width: 590px; /* ancho de cada la colunma*/
  margin-top: 50px;
}

.content__project-image {
  background-size: cover; /* Tamañño de la imagen de fondo */
  background-position: center; /* posicion de la imagen de fondo */
  height: 330px; /* alto de la imagen de fondo */
}

.content__project-image_coffeeShop {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../images/coffeeShop.png);
}

.content__project-image_myProject {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../images/placeholder.png);
}

.project__image__icons {
  height: inherit; /* hereda altura del cotenedor padre*/
  display: flex;
  align-items: last baseline; /* manda iconos al fondo*/
}

.project__image__icons img {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.project__card-desc {
  display: flex;
  flex-direction: column;
  height: 340px;
  padding: 30px;
}

.card-title {
  font-family: "opensans", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.card-text {
  font-family: "opensans", Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* ===========================
   PROJECT LINKS
=========================== */

.project__card-desc__links {
  margin-top: auto; /* alinear al fondo */
  display: flex;
  gap: 20px;
  padding: 0;
  transition: opacity 0.3s ease;
}

.project__card-desc__links :hover {
  opacity: 0.5;
}

.project__card-desc__links a {
  gap: 6px;
  text-decoration: none;
}

.link-demo {
  color: #6d6dff;
}

.link-github {
  color: #fff;
}

/* ===========================
   FOOTER
=========================== */

.footer {
  padding: 0 120px;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: #6d6dff;
  border-radius: 50%;
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.contact {
  z-index: 1;
}

.email {
  margin-top: 20px;
  font-size: 18px;
  color: #6d6dff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.email :hover {
  opacity: 0.5;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 100px;
  transition: opacity 0.3s ease;
}

.social-media :hover {
  opacity: 0.5;
}
